   <!-- ======= Footer ======= -->
   <footer id="footer">
	<div class="footer-top ">
		<div class="container">
			<div class="row">

				<div class="col-lg-3 col-md-6">
					<div class="footer-info">
						<h6>Darmalton</h6>
						<p >
							Kabul <br>
							Afghanistan<br>
							<strong>Phone:</strong> +93783787730<br>
							<strong>Email:</strong>info.darmalton@gmail.com<br>
						</p>

					</div>
				</div>

				<div class="col-lg-2 col-md-6 footer-links">
					<h6>Useful Links</h6>

					<a href="#" class="d-block my-1">Home</a>
					<a href="#" class="d-block my-1">About us</a>
					<a href="#" class="d-block my-1">Services</a>
					<a href="#" class="d-block my-1">Terms of service</a>
					<a href="#" class="d-block my-1">Privacy policy</a>

				</div>

				<div class="col-lg-3 col-md-6 footer-links">
					<h6>Our Services</h6>

					<a href="#" class="d-block my-1">Make appointment</a>
					<a href="#" class="d-block my-1">Book lab test</a>
					<a href="#" class="d-block my-1">Product Management</a>
					<a href="#" class="d-block my-1">Marketing</a>

				</div>

				<div class="col-lg-4 col-md-6 footer-newsletter">
					<h6>CONNECT WITH US</h6>
					<p>Sign Up To Receive Latest News and Updates</p>
					<form action="" method="post" form-group>
						<div class="row">
							<div class="col-sm-12 col-md-10 col-lg-10 ">
								<form action="" class="search" method='GET'>
									<div class="input-group w-100">
										<input type="email" class="form-control " style="width:60%; " placeholder="Email" name="keyword">
							  
										<div class="input-group-append">
										  <button class="btn search-button text-light btn-sm" style="background-color: #00569B;" type="submit">
											send
										  </button>
										</div>
									  </div>
								  </form>
							</div>
							<div class="col-sm-12 col-md-2 col-lg-2 mx-0">
								
							</div>
							<h5 style='color:#334557; letter-spacing: 1px;margin-top:10px; margin-left:10px;'>Follow Us</h5>
							<div class="social-links my-2">
								<a href="#" class="twitter "><i class="bi bi-twitter p-1 " style="font-size: 25px;"></i></a>
								<a href="#" class="facebook"><i class="bi bi-facebook p-1  " style="font-size: 25px;"></i></a>
								<a href="#" class="instagram"><i class="bi bi-instagram p-1  " style="font-size: 25px;"></i></a>
								<a href="#" class="google-plus"><i class="bi bi-skype p-1 " style="font-size: 25px;"></i></a>
								<a href="#" class="linkedin"><i class="bi bi-linkedin p-1 " style="font-size: 25px;"></i></a>
							</div>

						</div>


					</form>

				</div>

			</div>
		</div>
	</div>
	<div class="text-center copyright p-3 text-light">
		&copy COPYRIGHT BY DARMALTON 2021,ALL RIGHTS RESERVED.
	</div>


</footer><!-- End Footer -->